@require '../colors'

.gradient-lr-dl
  background linear-gradient(90deg, c-primary-d-2 25%, c-primary-l-2 100%)

.gradient-tb-d1-d2
  background linear-gradient(180deg, c-primary-d-1 25%, c-primary-d-2 100%)

// .gradient-tb-p-d2
//   background linear-gradient(180deg, c-primary 25%, c-primary-d-2 100%)