body
  background-color: c-neutral-l-3

.text-primary 
  color: c-primary

.text-primary-l-1 
  color: c-primary-l-1

.text-primary-l-2 
  color: c-primary-l-2

.text-primary-l-3 
  color: c-primary-l-3

.text-primary-d-1 
  color: c-primary-d-1

.text-primary-d-2 
  color: c-primary-d-2

.text-primary-d-3 
  color: c-primary-d-3


.bg-primary 
  background-color: c-primary

.bg-primary-l-1 
  background-color: c-primary-l-1

.bg-primary-l-2 
  background-color: c-primary-l-2

.bg-primary-l-3 
  background-color: c-primary-l-3

.bg-primary-d-1 
  background-color: c-primary-d-1

.bg-primary-d-2 
  background-color: c-primary-d-2

.bg-primary-d-3 
  background-color: c-primary-d-3


.text-neutral 
  color: c-neutral

.text-neutral-l-1 
  color: c-neutral-l-1

.text-neutral-l-2 
  color: c-neutral-l-2

.text-neutral-l-3 
  color: c-neutral-l-3

.text-neutral-d-1 
  color: c-neutral-d-1

.text-neutral-d-2 
  color: c-neutral-d-2

.text-neutral-d-3 
  color: c-neutral-d-3


.bg-neutral 
  background-color: c-neutral

.bg-neutral-l-1 
  background-color: c-neutral-l-1

.bg-neutral-l-2 
  background-color: c-neutral-l-2

.bg-neutral-l-3 
  background-color: c-neutral-l-3

.bg-neutral-d-1 
  background-color: c-neutral-d-1

.bg-neutral-d-2 
  background-color: c-neutral-d-2

.bg-neutral-d-3 
  background-color: c-neutral-d-3


.text-accent-one 
  color: c-accent-one

.text-accent-one-l-1 
  color: c-accent-one-l-1

.text-accent-one-l-2 
  color: c-accent-one-l-2

.text-accent-one-l-3 
  color: c-accent-one-l-3

.text-accent-one-d-1 
  color: c-accent-one-d-1

.text-accent-one-d-2 
  color: c-accent-one-d-2

.text-accent-one-d-3 
  color: c-accent-one-d-3


.bg-accent-one 
  background-color: c-accent-one

.bg-accent-one-l-1 
  background-color: c-accent-one-l-1

.bg-accent-one-l-2 
  background-color: c-accent-one-l-2

.bg-accent-one-l-3 
  background-color: c-accent-one-l-3

.bg-accent-one-d-1 
  background-color: c-accent-one-d-1

.bg-accent-one-d-2 
  background-color: c-accent-one-d-2

.bg-accent-one-d-3 
  background-color: c-accent-one-d-3


.bg-warning 
  background-color: c-warning

.bg-warning-l-1 
  background-color: c-warning-l-1

.bg-warning-l-2 
  background-color: c-warning-l-2

.bg-warning-l-3 
  background-color: c-warning-l-3

.bg-warning-d-1 
  background-color: c-warning-d-1

.bg-warning-d-2 
  background-color: c-warning-d-2

.bg-warning-d-3 
  background-color: c-warning-d-3


.bg-success 
  background-color: c-success

.bg-success-l-1 
  background-color: c-success-l-1

.bg-success-l-2 
  background-color: c-success-l-2

.bg-success-l-3 
  background-color: c-success-l-3

.bg-success-d-1 
  background-color: c-success-d-1

.bg-success-d-2 
  background-color: c-success-d-2

.bg-success-d-3 
  background-color: c-success-d-3

.text-success 
  color: c-success
.text-success-l-1 
  color: c-success-l-1
.text-success-l-2 
  color: c-success-l-2
.text-success-l-3 
  color: c-success-l-3
.text-success-d-1 
  color: c-success-d-1
.text-success-d-2 
  color: c-success-d-2
.text-success-d-3 
  color: c-success-d-3


.bg-danger 
  background-color: c-danger

.bg-danger-l-1 
  background-color: c-danger-l-1

.bg-danger-l-2 
  background-color: c-danger-l-2

.bg-danger-l-3 
  background-color: c-danger-l-3

.bg-danger-d-1 
  background-color: c-danger-d-1

.bg-danger-d-2 
  background-color: c-danger-d-2

.bg-danger-d-3 
  background-color: c-danger-d-3
