.flex
  display: flex !important
  .col
    flex-direction: column !important
  .row
    flex-direction: row !important

.inline-flex
  display: inline-flex !important
.inline-block
  display inline-block
.justify-end
  justify-content: flex-end
.grow
  flex-grow: 1
.items-baseline
  align-items: baseline !important
.items-center
  align-items: center !important
.w-one-third
  width: 33.33%
.w-two-third
  width: 66.66%

.img-responsive
  max-width 100%