@require './variables'

tablet-and-up()
  @media screen and (min-width: tablet + 2 * gap)
    {block}
desktop-and-up()
  @media screen and (min-width: desktop + 2 * gap)
    {block}
widescreen-and-up()
  @media screen and (min-width: widescreen + 2 * gap)
    {block}
fullhd-and-up()
  @media screen and (min-width: fullhd + 2 * gap)
    {block}

tablet-up-until()
  @media screen and (max-width: tablet + 2 * gap)
    {block}