@require 'mixins'

properties = {
  p: 'padding'
  m: 'margin'
}

directions = { 
  all: ''
  t: 'top'
  b: 'bottom'
  l: 'left'
  r: 'right'
}

for i in (0..16)
  val = lookup('size-' + i)

  for propKey, propVal in properties
    for dirKey, dirVal in directions
      if dirKey == 'all'
        .{propKey}-{i}
          {propVal}: val
        +tablet-and-up()
          .{propKey}-large-{i}
            {propVal}: val
        +tablet-up-until()
          .{propKey}-small-{i}
            {propVal}: val
      else
        .{propKey}{dirKey}-{i}
          {propVal}-{dirVal}: val
        +tablet-and-up()
          .{propKey}{dirKey}-large-{i}
            {propVal}-{dirVal}: val
        +tablet-up-until()
          .{propKey}{dirKey}-small-{i}
            {propVal}-{dirVal}: val


    // vertical
    .{propKey}v-{i}
      {propVal}-top: val
      {propVal}-bottom: val

    // horizontal
    .{propKey}h-{i}
      {propVal}-left: val
      {propVal}-right: val

  .max-w-{i}
    max-width: val

  .max-h-{i}
    max-height: val

  .w-{i}
    width: val

  .h-{i}
    height: val

.ml-auto
  margin-left: auto

.height-100
  height: 100%

.vertical-center
  display: flex
  align-items: center