/// Shadows
shadow-1 ?= 0 1px 3px hsla(0, 0%, 0, .12), 0 1px 2px hsla(0, 0%, 0, .24) !important
shadow-2 ?= 0 3px 6px hsla(0, 0%, 0, .15), 0 2px 4px hsla(0, 0%, 0, .12) !important
shadow-3 ?= 0 10px 20px hsla(0, 0%, 0, .15), 0 3px 6px hsla(0, 0%, 0, .10) !important
shadow-4 ?= 0 15px 25px hsla(0, 0%, 0, .15), 0 5px 10px hsla(0, 0%, 0, .10) !important
shadow-5 ?= 0 20px 40px hsla(0, 0%, 0, .2) !important

/// Spacing
size-0 ?= 0
size-1 ?= 4px
size-2 ?= 8px
size-3 ?= 12px
size-4 ?= 16px
size-5 ?= 24px
size-6 ?= 32px
size-7 ?= 48px
size-8 ?= 64px
size-9 ?= 96px
size-10 ?= 128px
size-11 ?= 192px
size-12 ?= 256px
size-13 ?= 384px
size-14 ?= 512px
size-15 ?= 640px
size-16 ?= 768px

/// Typography
font-1 ?= 12px
font-2 ?= 14px
font-3 ?= 16px
font-4 ?= 18px
font-5 ?= 20px
font-6 ?= 24px
font-7 ?= 30px
font-8 ?= 36px
font-9 ?= 48px
font-10 ?= 60px
font-11 ?= 72px

font-family-body ?= 'Nunito Sans', sans-serif
font-family-heading ?= 'Nunito Sans', sans-serif
font-color ?= c-neutral-d-3

/// Responsive

gap ?= 64px

breakpoint-sm ?= 768px
breakpoint-md ?= 960px
breakpoint-lg ?= 1152px
breakpoint-xl ?= 1344px

and-up(bp)
  bp-size = lookup('breakpoint-' + bp)
  @media screen and (min-width: bp-size + 2 * gap)
    {block}
sm-and-up()
  +and-up('sm')
    {block}
md-and-up()
  +and-up('md')
    {block}
lg-and-up()
  +and-up('lg')
    {block}
xl-and-up()
  +and-up('xl')
    {block}

up-until(bp)
  bp-size = lookup('breakpoint-' + bp)
  @media screen and (max-width: bp-size + 2 * gap)
    {block}
sm-up-until()
  +up-until('sm')
    {block}
md-up-until()
  +up-until('md')
    {block}
lg-up-until()
  +up-until('lg')
    {block}
xl-up-until()
  +up-until('xl')
    {block}

responsive-helpers(sel)
  .{sel}
    {block}

  for bp in ('sm' 'md' 'lg' 'xl')
    +up-until(bp)
      .{bp}-{sel}
        for rule in block
          {rule}